// Beware! Arch repo uses the git version of rmpc.
// Use the right version of the documentation!
#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    // haven't found the need to customise this yet.
    // Bootstrapped file is already in place though.
    theme: None,
    // When skipping track, immediately start playback again instead of staying paused.
    keep_state_on_song_change: false,
    // rmpc gives a bunch of callbacks.
    // Most I'd want to be on mpd directly though, not on just rmpc.
    volume_step: 5,
    max_fps: 30,
    scrolloff: 4,
    wrap_navigation: true,
    ignore_leading_the: true,
    enable_mouse: false,
    enable_config_hot_reload: false,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: Some(25),
    reflect_changes_to_playlist: false,
    browser_song_sort: [Disc, Track, Other("artistsort"), Artist, Title, Other("titlesort")],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    album_art: (
        method: Auto,
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "t":       NextTab,
            "<S-Tab>": PreviousTab,
            "T": PreviousTab,
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "b":       SeekBack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "?":       ShowHelp,
            "u":       Update,
            "U":       Rescan,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
            "R":       AddRandom,
        },
        navigation: {
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "<C-u>":     UpHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "J":         MoveDown,
            "<C-d>":     DownHalf,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "K":         MoveUp,
            "D":         Delete,
            "B":         ShowInfo,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "C":       JumpToCurrent,
            "X":       Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        // ignore_diacritics also implies case_insensitive
        ignore_diacritics: true,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumsort", label: "Album (Sort)"),
            (value: "albumartist", label: "Album Artist"),
            (value: "albumartistsort", label: "Album Artist (Sort)"),
            (value: "title",       label: "Title"),
            (value: "titlesort", label: "Title (Sort)"),
            (value: "genre",       label: "genre"),
            (value: "composer", label: "Composer"),
            (value: "composersort", label: "Composer (Sort)"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    ( size: "2.8r", pane: Pane(AlbumArt)),
                    (
                        size: "65%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "3",
                                    borders: "ALL",
                                    border_symbols: Inherited(parent: Rounded, bottom_left: "├", bottom_right: "┤",),
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (
                                                size: "1",
                                                pane: Pane(Empty())
                                            ),
                                            (
                                                size: "100%",
                                                pane: Pane(QueueHeader())
                                            ),
                                        ]
                                    )
                                ),
                                (
                                    size: "100%",
                                    borders: "LEFT | RIGHT",
                                    border_symbols: Rounded,
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (
                                                size: "1",
                                                pane: Pane(Empty())
                                            ),
                                            (
                                                size: "100%",
                                                pane: Pane(Queue)
                                            ),
                                        ]
                                    )
                                ),
                                (
                                    size: "7",
                                    borders: "ALL",
                                    border_symbols: Inherited(parent: Rounded, top_left: "├", top_right: "┤",),
                                    border_title: [(kind: Text(" Lyrics "))],
                                    border_title_alignment: Right,
                                    pane: Pane(Lyrics)
                                ),

                            ],
                        )
                    ),
                ],
            ),
        ),
        // TODO: When it updates, use a sort-by-artist pane
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
//        (
//            // Default "artists" panel
//            name: "Artists",
//            pane: Pane(Browser(
//                levels: [
//                    (
//                        group_by: [[Artist]],
//                        sort_by: [[Other("sortartist"), Artist]],
//                    ),
//                    (
//                        group_by[[Album]],
//                        sort_by: [[Other("originaldate"), Other("date")]],
//                    ),
//                ],
//            )),
//        ),
        (
            name: "Genres",
            pane: Pane(Browser(root_tag: "genre", separator: ";")),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Album Artists",
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
    ],
)

