[Unit]
Description=Set a random Sway wallpaper
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/swaybg/pick-random-wallpaper.sh
Restart=on-failure
RestartSec=1s
StartLimitIntervalSec=30s
StartLimitBurst=5

[Install]
WantedBy=default.target
