[Desktop Entry]
Name=Beeper (Wayland)
Comment=Universal matrix-based messenger for Discord, Whatsapp, Instagram, etc. (Wayland wrapper)
GenericName=Internet Messenger
# flags are in the wrapper script
Exec=/home/aida/scripts/beeper %U
Icon=beeper
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;

