[Desktop Entry]
Name=Beeper
Comment=Universal matrix-based messenger for Discord, Whatsapp, Instagram, etc. (Wayland wrapper)
GenericName=Internet Messenger
# flags are in the wrapper script
Exec=/home/aida/.local/bin/Beeper-4.2.858-x86_64.AppImage %u
Icon=beeper
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;

StartupWMClass=beeper
